<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let fd of albumData">
            <div class="albumbox mt-3 mb-3 ">
                <img src="{{fd.albumImg}}">
                <h1>{{fd.albumName}}</h1>
                <p>{{fd.albumDetails}}</p>
                <p>{{fd.albumPrice | currency:'US'}}</p>
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>