<div class="container mt-5 mb-5">
    <h1 class="text-center">About Us</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corporis blanditiis accusamus cumque dignissimos quaerat labore ad numquam natus facere eos exercitationem asperiores, neque mollitia voluptas vero sint officia quam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corporis blanditiis accusamus cumque dignissimos quaerat labore ad numquam natus facere eos exercitationem asperiores, neque mollitia voluptas vero sint officia quam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corporis blanditiis accusamus cumque dignissimos quaerat labore ad numquam natus facere eos exercitationem asperiores, neque mollitia voluptas vero sint officia quam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corporis blanditiis accusamus cumque dignissimos quaerat labore ad numquam natus facere eos exercitationem asperiores, neque mollitia voluptas vero sint officia quam.
        <br> <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis quisquam tempora possimus facilis dolore iusto nostrum, hic incidunt, laborum perferendis fugit vero illo doloremque porro magnam libero eaque accusantium odit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis officiis cumque dolor, magnam dolores doloremque et quas sapiente fugiat dignissimos saepe cupiditate, accusamus fuga ipsam autem hic itaque rerum. Veritatis.
        <br> <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ea, quisquam beatae est, eos dolores doloremque rerum nam minima quo repudiandae voluptatum hic blanditiis neque delectus sequi non dolorem recusandae!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum eum pariatur suscipit rerum cumque, eligendi, quae est laudantium id, praesentium repudiandae! Vel temporibus similique inventore rerum, distinctio iure magni necessitatibus!
        <br />
    </p>
</div>